node_modules/
.pnp/
.pnp.js
.DS_Store
dist/
coverage/
.env*
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.next/
**/*.tsbuildinfo
.turbo/
packages/database/dev.db
